@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --mainTransition: all 0.3s linear;
}

body {
    padding-top: 100px;
    font-family: 'PT Serif', serif;
}

hr {
    border-top: 1px solid green;
    margin: 0;
}

.main-link {
    font-size: 1.5rem;
    background: rgba(255, 255, 0, 0.5);
    padding: 0.5rem 2rem;
    text-transform: capitalize;
    letter-spacing: 5px;
    outline: 2px solid yellow;
    color: black;
    font-weight: bold;
    outline-offset: 5px;
    margin: 2rem 0 !important;
}

.main-link:hover {
    text-decoration: none;
    background: yellow;
}