@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: var(--mainTransition);
}

body {
    padding-top: 100px;
    font-family: 'PT Serif', serif;
    width: 100%;
}

h2 {
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: capitalize;
}

p {
    letter-spacing: 1px;
    line-height: 2;
}

.main-link {
    font-size: 1.5rem;
    background: rgba(255, 255, 0, 0.5);
    padding: 0.5rem 2rem;
    text-transform: capitalize;
    letter-spacing: 5px;
    outline: 2px solid yellow;
    color: black;
    font-weight: bold;
    outline-offset: 5px;
    margin: 2rem auto !important;
}

.main-link:hover {
    text-decoration: none;
    background: yellow;
}